<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,greek-ext"
		  rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700"
		  rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/syntax.css">
	<link rel="stylesheet" href="/css/main.css">
	<meta name="viewport" content="width=device-width">
  </head>
  <body>

	<div class="site">
	  <header>
		<div class="title"><a href="/">{{ site.name }}</a></div>
		<ul>
		  <li><a class="extra" href="/">Home</a></li>	&bull;
		  <li><a class="extra" href="/special/2014/01/01/contact">Contact</a> </li>&bull;
		  <li><a class="extra" href="/special/2014/01/01/projects">Projects</a> </li>
		  <!-- <li><a class="extra" href="/">Archive</a> </li> -->
		</ul>
	  </header>

	  {{ content }}

	  <footer>
		<div class="contact">
		  Tony Klinakis<br />
		  {Software, Web} Developer<br />
		  Caffeine Addict<br />
		</div>
		<span class="contact">
		  <div class="myemail">a.klinakis</div>
		  <a href="https://github.com/rathymus">github.com/rathymus</a><br/>
		  <a href="https://careers.stackoverflow.com/aklinakis">Curriculum Vitae</a>
		</span>
	  </footer>
	</div>

  </body>
</html>
